@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

:root{
    --main-color:#d3ad7f;
    --black:#13131a;
    --bg:#7a6d6d;
    --border:.1rem solid rgba(255,255,255,.3);

    --cor-azul1:rgb(28, 54, 97);
    --cor-azul2:rgb(70, 140, 188);
    --cor-azul3:rgb(130, 206, 234);
    --cor-azul4:rgb(13, 45, 67);
    --cor-branco:rgb(255, 255, 255);
    --cor-preto:rgb(0, 0, 0);
    --cor-dourado:rgb(204, 204, 204);
}

*{
    font-family: 'Play','Roboto', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    /* scroll-behavior: smooth; */
    scroll-behavior: auto;
    /* overflow: hidden; */
}

html::-webkit-scrollbar{
    width: .8rem;
}

html::-webkit-scrollbar-track{
    background: transparent;
}

html::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 5rem;
}

body{
    background: var(--cor-branco);
}

section{
    padding:5rem 7%;
}

.heading{
    text-align: center;
    color:var(--cor-azul1);
    text-transform: uppercase;
    padding-bottom: 3.5rem;
    font-size: 4rem;
}

.heading span{
    color:var(--cor-azul2);
    text-transform: uppercase;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    padding: 1.1rem 5rem;
    font-size: 2.1rem;
    font-weight: 700;
    border-radius: 5px;
    color:var(--cor-branco);
    background: var(--cor-azul1);
    cursor: pointer;
}

.btn:hover{
    letter-spacing: .2rem;
}


/*===  Inicio Header Section  === */

.header{
    background: var(--cor-branco);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:1.5rem 7%;
    border-bottom: var(--border);
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
}

.header .logo img{
    height: 10rem;
}

.header .navbar a{
    font-weight: 700;
    margin:0 1rem;
    font-size: 1.9rem;
    color:var(--cor-azul1);
}

.header .navbar a:hover{
    color:var(--cor-azul2);
    border-bottom: .1rem solid var(--cor-azul2);
    padding-bottom: .5rem;
}

.header .icons div{
    color:var(--cor-azul1);
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.header .icons div:hover{
    color:var(--cor-azul2);
}

#menu-btn{
    display: none;
}


.header .search-form{
    position: absolute;
    top:115%; right: 7%;
    background: var(--cor-azul2);
    width: 50rem;
    height: 5rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form input{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    color:var(--black);
    padding:1rem;
    text-transform: none;
}

.header .search-form label{
    cursor: pointer;
    font-size: 2.2rem;
    margin-right: 1.5rem;
    color:var(--black);
}

.header .search-form label:hover{
    color:var(--main-color);
}

.header .cart-items-container{
    position: absolute;
    top:100%; right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background: var(--cor-branco);
    padding:0 1.5rem;
}

.header .cart-items-container.active{
    right: 0;
}

.header .cart-items-container .cart-item{
    position: relative;
    margin:2rem 0;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.header .cart-items-container .cart-item .fa-times{
    position: absolute;
    top:1rem; right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.header .cart-items-container .cart-item .fa-times:hover{
    color:var(--main-color);
}

.header .cart-items-container .cart-item img{
    height: 7rem;
}

.header .cart-items-container .cart-item .content h3{
    font-size: 2rem;
    color:var(--black);
    padding-bottom: .5rem;
}

.header .cart-items-container .cart-item .content .price{
    font-size: 1.5rem;
    color:var(--main-color);
}

.header .cart-items-container .btn{
    width: 100%;
    text-align: center;
}

/* -- Final Header Section  -- */


/*---  Inicio About Section --- */

.about .row{
    display: flex;
    align-items: center;
    flex-direction: row;
    background:var(--cor-branco);
    flex-wrap: wrap;
    padding: 5px;
    padding-top: 150px;
}

.about .row .image{
    flex:1 1 85rem;
}

.about .row .image img{
    width: 100%;
}
.about .row .content{
    flex:1rem;
}

.about .row .content h3{
    font-size: 3rem;
    color:var(--cor-azul2);
}

.about .row .content p{
    font-size: 1.9rem;
    color:var(--cor-dourado);
    padding:1rem 0;
    line-height: 1.8;
}

/* -- Final About Section  -- */





/* Main */
.normal-section + .normal-section {
  margin-top: 80px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;
}

.movie-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title {
  font-size: 20px;
  margin-bottom: 6px;
}

.product-image {
  width: 240px; /* Flex wrap coloca 2 posters por linha, pq a seção tem 600px */
  height: 144px;
}

.product-price-container {
  margin-top: 8px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.product-price {
  margin-right: 12px;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
}

.button-hover-background {
  background: var(--red);
  color: var(--white);
  border: 2px solid var(--red);
  border-radius: 6px;
  padding: 4px 2px;
  font-weight: bold;

  transition: 0.2s;
}

.button-hover-background:hover {
  background: transparent;
  color: var(--red);
}

/* tabela carrinho de compras */
.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.table-head-item {
  text-align: start;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 6px;
  text-transform: uppercase;
}

.second-col,
.third-col {
  width: 26%;
}

.cart-product td {
  padding: 8px 0;
}

.product-identification {
  display: flex;
  align-items: center;
}

.cart-product-image {
  width: 120px;
  height: 70px;
}

.cart-product-title {
  margin-left: 16px;
  font-size: 18px;
}

.cart-product-price {
  font-family: "Raleway", sans-serif;
}

.product-qtd-input {
  width: 48px;
  height: 34px;
  border-radius: 6px;
  border: 2px solid var(--blue);
  text-align: center;
  background: #eee;
}

.remove-product-button {
  margin-left: 12px;
  background: #ff0000;
  color: var(--white);
  padding: 10px 8px;
  border: 0;
  border-radius: 6px;

  transition: filter 0.2s;
}

.remove-product-button:hover {
  filter: brightness(0.8);
}

.cart-total-container {
  border-top: 1px solid var(--gray);
  text-align: end;
  padding: 6px 16px 0 0;
  font-size: 18px;
}

.cart-total-container strong {
  margin-right: 12px;
}











/*===  Inicio Footer Section === */

.footer{
    background:var(--cor-branco);
    text-align: center;
}

.footer .share{
    padding:1rem 0;
}

.footer .share a{
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    color:var(--cor-azul3);
    border:.1rem solid var(--cor-azul3);
    margin:.3rem;
    border-radius: 50%;
}

.footer .share a:hover{
    background-color: var(--cor-azul3);
}

.footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding:2rem 0;
    gap:1rem;
}

.footer .links a{
    padding:.7rem 2rem;
    color:var(--cor-azul2);
    border:.1rem solid var(--cor-dourado);
    font-size: 2rem;
}

.footer .links a:hover{
    background:var(--main-color);
}

.footer .credit{
    font-size: 1.7rem;
    color:var(--cor-azul2);
    font-weight: lighter;
    padding:1.5rem;
}

.footer .credit span{
    color:var(--cor-azul2);
}

/* -- Final Footer Section  -- */


/*===  Inicio Botão Flutuante do WhatsApp Section === */

.whatsapp-float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 1px 1px 2px #888;
    border: 3px solid #fff;
    z-index: 1000;
    transition: transform 0.3s ease;
}

.whatsapp-float i {
    margin-top: 12px;
}

.whatsapp-float:hover {
    transform: scale(1.1);
}

/* -- Final Botão Flutuante do WhatsApp Section Section  -- */


/*===  Inicio Media Queries Section === */

@media (max-width:991px){

    html{
        font-size: 60%;
    }

    .header{
        padding:1.5rem 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: inline-block;
    }

    .header .navbar{
        position: absolute;
        top:100%; right: -100%;
        background: #fff;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }

    .header .navbar.active{
        right:0;
    }

    .header .navbar a{
        color:var(--black);
        display: block;
        margin:1.5rem;
        padding:.5rem;
        font-size: 2rem;
    }

    .header .search-form{
        width: 90%;
        right: 2rem;
    }

    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .content h3{
        font-size: 4.5rem;
    }

    .home .content p{
        font-size: 1.5rem;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3.5rem;
    }
}

/* -- Final Inicio Media Queries Section Section  -- */



/* tabela carrinho de compras */
.cart-table {
  width: 100%;
  border-collapse: collapse;
}

.table-head-item {
  text-align: start;
  border-bottom: 1px solid var(--gray);
  padding-bottom: 6px;
  text-transform: uppercase;
}

.second-col,
.third-col {
  width: 26%;
}

.cart-product td {
  padding: 8px 0;
}

.product-identification {
  display: flex;
  align-items: center;
}

.cart-product-image {
  width: 120px;
  height: 70px;
}

.cart-product-title {
  margin-left: 16px;
  font-size: 18px;
}

.cart-product-price {
  font-family: "Raleway", sans-serif;
}

.product-qtd-input {
  width: 48px;
  height: 34px;
  border-radius: 6px;
  border: 2px solid var(--blue);
  text-align: center;
  background: #eee;
}

.remove-product-button {
  margin-left: 12px;
  background: #ff0000;
  color: var(--white);
  padding: 10px 8px;
  border: 0;
  border-radius: 6px;

  transition: filter 0.2s;
}

.remove-product-button:hover {
  filter: brightness(0.8);
}

.cart-total-container {
  border-top: 1px solid var(--gray);
  text-align: end;
  padding: 6px 16px 0 0;
  font-size: 18px;
}

.cart-total-container strong {
  margin-right: 12px;
}

.purchase-button {
  display: flex;
  margin: 24px auto 0;
  background: var(--blue);
  color: var(--white);
  border: 0;
  border-radius: 6px;
  padding: 16px 20px;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;

  transition: filter 0.2s;
}

.purchase-button:hover {
  filter: brightness(0.8);
}


